/* comman css start*/
body{ font-family: 'latoregular';}
ul{ list-style:none; padding:0; margin:0;}
a, a:hover, a:focus{ text-decoration:none; outline:none; color:#333;}
address,p,h1,h2,h3,h4,h5,h6,.table{ margin:0; padding:0;}
label{ font-weight:normal; margin:0;}
select:focus, input:focus, textarea:focus{outline: none !important;}
.imgBox{ position:relative;}
.imgBox img{ position:absolute; top:0; left:0; bottom:0; right:0; max-height:100%; max-width:100%; margin:auto;}
.positionRelative{ position:relative;}
.disInline{ display:inline-block; vertical-align:top;}
.open > .dropdown-menu {-webkit-transform: scale(1, 1);transform: scale(1, 1);opacity:1;}  
.dropdown-menu {opacity:0;-webkit-transform-origin: top;transform-origin: top;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;-webkit-transform: scale(1, 0);display: block;   transition: all 0.2s linear;-webkit-transition: all 0.2s linear;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);box-shadow: 0 6px 12px rgba(0,0,0,0.175); border:1px solid #cccccc;}
.color38{ color:#38B5E3;}
.color22{ color:#2285c6;}
.color7c{ color:#7c7c7c;}
.colorff{ color:#ffea00;}
.color08{ color:#088d43;}
.colorffa{ color:#ffa100;}
.color9a{ color:#9a9a9a;}
input::-ms-clear {display: none;}
.fontLatoBold{font-family: 'latobold';}
.fontAwesome{font-family:'FontAwesome';}
.fullWidth{ width:100%;}
.wordWrap {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.btn{transition: all 0.2s ease-in 0s;-webkit-transition: all 0.2s ease-in 0s;-moz-transition: all 0.2s ease-in 0s;-o-transition: all 0.2s ease-in 0s;}
.colorWhite{ color:#ffffff;}
.curserPointer{ cursor:pointer;}
.font48{ font-size:48px;}
.font36{ font-size:36px;}
.font30{ font-size:30px;}
.font24{ font-size:24px;}
.font18{ font-size:18px;}
.font16{ font-size:16px;}
.font14{ font-size:14px;}
.font12{ font-size:12px;}
.marginBottom15{ margin-bottom:15px;}
.marginBottom30{ margin-bottom:30px;}
.marginTop25{ margin-top:25px;}
.marginTop35{ margin-top:35px;}
.marginRight2per{ margin-right:2%;}
.overflowHidden{ overflow:hidden;}
.floatLeft{ float:left;}
.floatRight{ float:right;}
.bgWhite{ background-color:#ffffff;}
.halfWidth{ width:48%;}
.btnGreen{ background-color:#1a9f46; color:#ffffff; padding:12px; font-size:18px;}
.btnGreen:hover{ background-color:#187838; color:#ffffff;}
.mandotaryField::after {content: "\002A";color: #F00;position: relative;top: -2px;right: -8px;font-size: 16px;}
.borderBottom{ padding-bottom:10px; border-bottom:1px solid #ececec;}
.dropdown-menu { z-index:-1;}
.open > .dropdown-menu { z-index:1000;}
.disNone{ display:none;}
/* comman css end*/
.sectionBox{ background:red;}